*{ box-sizing: border-box;}
body{ 
    background: linear-gradient(135deg, #1e1e2f, #121212);;
    font-family:'Segoe UI', sans-serif;
}

.card{
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    width: 600px;
    margin: 100px auto;
    background: white;
}

.header{ display: flex; padding: 10px; }
.header img{ height: 70px;}
.header h1{ width: 100%; color: #333; }

.body{ display: flex; }
.body .left, .body .right{ width: 50%; padding: 0 10px; }

input{
    width: 100%;
    padding: 5px;
    margin: 3px 0;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
}

.footer{text-align: center; padding: 10px;}

button{
    background: #1e88e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
}

button:hover {
  background: #1565c0;
}